<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Akash's Portfolio </title> 
</head>
<body>
        {{> header}}
        <p>{{projMessage}} </p>

        {{> footer}}
    </body>
</html>
